NEXT_PUBLIC_SUPABASE_URL=https://urxxphuikfrhrbvxwrkd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVyeHhwaHVpa2ZyaHJidnh3cmtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA3NDYxMTksImV4cCI6MjA2NjMyMjExOX0.4SWcRdTU8c6P8aaAI3-NdQOgvri7AIJKslqGNFNi3k8